<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>--Formulário Acunputura--</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../src/front-end/css/form.css">
  <meta charset="utf-8" />
  <title>Http</title>
</head>

<body>
  {{{body}}}
</body>
<footer>

</footer>

</html>

<script>

  // function Enviar(){
  //   let data = document.getElementById("form")
  //   console.log(JSON.stringify(data))
  //   fetch("/enviarform", {
  //     method: "POST",
  //     headers: {
  //       "Content-Type": "application/json",
  //     },
  //     body: JSON.stringify(data),
  //   })
  //     .then((response) => response.json())
  //     .then((data) => {
  //       console.log("Formulário enviado com sucesso!!:", data);
  //     })
  //     .catch((error) => {
  //       console.error("Erro ao enviar formulário:", error);
  //     });
  //onclick="Enviar();"
  // }
</script>