
<form class="formulario row col-12" id="form" action="/acupuncture" method="POST" name="formus">
  <div class="container"></div>
      <h1>Informações do Paciente</h1>
      <div class="row">
        <div class="form-group col-6">
          <label class="d-flex" for="nome">Nome Completo</label>
          <input type="text" id="nomeid" placeholder="Tiago Vale..." required="required" name="nome" value="nome" />
        </div>
        <div class="form-group col-6">
          <label class="d-flex" for="email">Email</label>
          <input type="email" id="emailid" placeholder="email@mail.com" name="email"  />
        </div>
        <div class="form-group col-6">
          <label class="d-flex" for="email">Sexo</label>
            <select class="form-select">
              <option></option>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
              <option value="Outros">Outros</option>
            </select>
        </div>
        <div class="form-group col-4">
          <label class="d-flex" for="fone">Telefone</label>
          <input type="tel" id="foneid" placeholder="(xx)xx-xx-xx-xx" name="fone" />
        </div>
        <div class="form-group col-4">
          <label class="d-flex" for="nascimento">Data Nascimento</label>
          <input type="date" id="nascimentoid" required="required" name="nascimento" />
        </div>
        <div class="form-group col-4">
          <label class="d-flex" for="avaliacao">Data da Avaliação</label>
          <input type="date" id="avaliacaoid" required="required" name="dateavaliacao" />
        </div>

        <div class="form-group col-4">
          <label class="d-flex" for="profissao">Profissão</label>
          <input type="text" id="profissaoid" placeholder="Engenheiro" name="profissao" />
        </div>
        <div class="form-group col-4">
          <label class="d-flex" for="religiao">Religião</label>
          <input type="text" id="religiaoid" placeholder="Catolico" name="religiao" />
        </div>
        <div class="form-group col-4">
          <label for="nascimento">Estado Civil</label>
          <select class="form-select">
            <option></option>
            <option value="Solteiro">Solteiro</option>
            <option value="Casado">Casado</option>
            <option value="Separado">Separado</option>
            <option value="Divorciado">Divorciado</option>
            <option value="Viúvo">Viúvo</option>
          </select>
        </div>
        <div class="form-group col-4">
          <label class="d-flex" for="religiao">CID</label>
          <input type="text" id="idcid" placeholder="Catolico" name="cid" />
        </div>

        <div class="form-group col-8">
          <label for="diagnostico">Diagnóstico Clínico</label>
          <input class="form-control" placeholder="Diagnóstico Clínico"></input>
        </div>
        <div class="form-group col-8">
          <label for="anamnese">Anamnese</label>
          <input class="form-control" placeholder="Queixa Principal"></input>
        </div>
      </div>


      <div class="form-group col-6 mt-4">
        <h5><label for="inspecao">Inspeção</label></h5>

        <label for="inspecao">Lingua</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="palidoeseca" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Palido e seca
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="palidoeumida" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Palido e umida
          </label>
        </div>
        <input class="form-control mt-2" placeholder="Observação"></input>
      </div>

      <div class="form-group col-6">
        <label for="Fala">Cor de Pele</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="facebrilhante" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Face Brilhante
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="faceopaco" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Face Opaco
          </label>
        </div>
        <div class="col-6">
          <label for="Fala">Expressão do rosto</label>
        </div>
        <!-- <img src="..." class="rosto"> -->
      </div>
      <div class="form-group col-12">
        <div class="form-row">
          <label class="d-flex">Cabeça e cabelos</label>
          <input type="text" name="cabelo" id="idcabelo" value="">
        </div>
        <div class="form-row">
          <label class="d-flex">Nariz</label>
          <input type="text" name="nariz" id="idnariz" value="">
        </div>
        <div class="form-row">
          <label class="d-flex">Orelhas</label>
          <input type="text" name="orelhas" id="idorelhas" value="">
        </div>
        <div class="form-row col-6">
          <label class="d-flex">Lábios,dentes,gengiva,garganta</label>
          <input type="text" name="labios" id="idlabios" value="">
        </div>
        <div class="form-row col-6">
          <label class="d-flex">Pele</label>
          <input type="text" name="pele" id="idpele" value="">
        </div>
      </div>


      <div class="form-group">
        <h5><label for="Fala">Auscultação</label></h5>
        <div class="form-row col-6">
          <label for="Fala">Fala.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="falaalta" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Fala alta
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="falabaixo" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Fala Baixo
            </label>
          </div>
        </div>
        <div class="form-row col-6">
          <label>Respiração.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="palidoeseca" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Palido e seca
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="palidoeumida" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Palido e umida
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h5><label for="Fala">Auscultação</label></h5>
        <div class="form-row col-6">
          <label>Transpiração.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Sua pouco
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Não sua
            </label>
          </div>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Sono.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Dorme bem
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Insônia
          </label>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Emoções.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Medo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Preocupação/Pensamento excessivo
          </label>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Côr.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Verde/Azul
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Vermelho
          </label>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Estação.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Primavera
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Verão
          </label>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Alimentação.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Come muito (calor no E)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Come pouco (def. Qi do BP, calor/umidade em BP, retenção de alimentos no E)
          </label>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Sabores.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Salgado (def. Qi do R
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Doce (def. Qi do BP)
          </label>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Sede.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Sem sede (plenitude e Qi perverso frio/umidade em BP)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Pouca sede (def. Yang Qi,, estagnação em meridianos, acúmulo de frio no E)
          </label>
        </div>
      </div>
      <div class="form-row col-6">
        <label>Disfunções gastro-intestinais.</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Hallitose (retenção de alimentos no E)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Azia (Qi do E em ascensão)
          </label>
        </div>
      </div>
      <div class="form-group col-6 mt-3">
        <h5><label for="Excreções">Excreções</label></h5>
        <div class="form-row col-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Diarréia seguida de alívio (def. Yang Qi do R )
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Diarréia com alimentos não digeridos (def. Qi de BP)
            </label>
          </div>
        </div>
        <div class="form-row col-6">
          <label>Casa sangrar.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="escura" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Escura (Qi perverso calor em R e B)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="diarreia" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Diarréia com alimentos não digeridos (def. Qi de BP)
            </label>
          </div>
          <input class="form-control mt-2" placeholder="Observação"></input>
        </div>
        <div class="form-row col-6">
          <label>Menstruação.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Ciclo prolongado e escasso com coloração clara (def. de Qi e Xue, Qi perverso frio)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Menorragia /ciclo diminuído com muito sangue e coloração escura (estagnação de sangue, calor no sangue,
              def. Qi de
              BP, hiperatividade do Yang Qi do F)
            </label>
          </div>
          <input class="form-control mt-2" placeholder="Observação"></input>
        </div>
      </div>
      <div class="form-group col-6 mt-3">
        <h5><label for="Excreções">Órgão dos sentidos</label></h5>
        <div class="form-row col-6">
          <label>Olhos e visão.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Hallitose (retenção de alimentos no E)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Azia (Qi do E em ascensão)
            </label>
          </div>
        </div>
        <div class="form-row col-6">
          <label>Ouvidos e Audição.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Zumbido (def. Yin Qi na B e R,, vento)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Prurido (coceira)
            </label>
          </div>
        </div>
        <div class="form-row col-6">
          <label>Nariz e olfato.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Fraco (def. Yin Qi dos P, Qi perverso vento/frio)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Anosmia (debilidade de IG)
            </label>
          </div>
        </div>

        <div class="form-row col-6">
          <label>Tato.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tatofraco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Fraco (def. Qi do C)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tatoforte" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Forte
            </label>
          </div>
        </div>

        <div class="form-row col-6">
          <label>Boca e gosto.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Lábios azulados (estase de Xue do C)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Lábios pálidos (Qi perverso frio/umidade em BP)
            </label>
          </div>
          <input class="form-control mt-2" placeholder="Observação"></input>
        </div>
      </div>

      <div class="form-group col-6 mt-3">
        <h5><label for="">Algias</label></h5>
        <div class="form-row col-6">
          <label>Coluna.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="suapouco" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Cervical     
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="naosua" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Torácica       
            </label>
          </div>
          <input class="form-control mt-2" placeholder="Observação"></input>
        </div>
      </div>
      <div class="form-group col-6 mt-3">
        <h6><label for="">Algias periféricas em membros superiores e inferiores</label></h6>
        <div class="form-row col-6">
          <label>Dores musculares.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Tendinites (estagnação de Qi do F)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Dor migratória muscular  (Qi perverso vento)  
            </label>
          </div>
        </div>
        <div class="form-row col-6">
          <label>Dores articulares (Síndrome Bi) .</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Bi  errante: dor nas articulações das extremidades com limitação de movimento  (Qi perverso vento)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Bi  fixa: dor  localizada com dormência e sensação de peso (estagnação de Qi e Xue,  Qi perverso frio/umidade)
            </label>
          </div>
        </div>
      </div>
        <h5><label class="mt-2">Localização da Dor</label></h5>
        <div class="form-row col-6">
          <label>Abdome.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Dores  epigástricas (Qi perverso frio no E)               
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Dor no hipocôndrio tipo pontada (estase de Qi do F)
            </label>
          </div>
          <input class="form-control mt-2" placeholder="Observação"></input>
        </div>
        <div class="form-row col-6">
          <label>Tórax.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Dores (alterações patológicas do C e P)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Opressão (Qi perverso frio e umidade no P)
            </label>
          </div>
          <input class="form-control mt-2" placeholder="Observação"></input>
        </div>
        <div class="form-row col-6">
          <label>Dores de cabeça.</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Frontal (retenção de alimentos no E)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Orbital (def. Xue do F)
            </label>
          </div>
          <input class="form-control mt-2" placeholder="Observação"></input>
        </div>
        <div class="form-row col-6">
          <label for="nascimento">Escala Analógica de Dor</label>
            <select class="form-select">
              <option></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
      <div class="d-flex justify-content-center">
        <img src="../src/front-end/img/5 elementos.jpg" alt="5 Elementos da Acunputura--">
      </div>
      <div class="form-row col-6">
        <div>
          <label for="Diagnóstico Terapêutico Oriental">DIAGNÓSTICO TERAPÊUTICO ORIENTAL</label>
          <textarea class="form-control mt-2" id="diagnosticoOriental" name="diagnosticoOriental"rows="5" cols="33">
          </textarea> 
        </div>
        <div>
          <label for="objetivos">OBJETIVOS</label>
          <textarea class="form-control mt-2" id="objetivo" name="objetivo"rows="5" cols="33">
          </textarea> 
        </div>
      </div>
      <div class="form-row col-6">
        <label for="condutas">CONDUTAS</label>
        <textarea class="form-control mt-2" id="condutas" name="condutas"rows="5" cols="33">
        </textarea> 
      </div>

      <div class="text-center">
        <input type="submit" class="btn btn-primary mt-2 col-2" value="Enviar" />
        <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../src/front-end/css/form.css">
      </div>
    </div>
  </div>
</form>

